<!-- Footer -->
<footer class="bg-dark text-white pt-4 pb-2">
  <div class="container">
    <div class="row">
      <!-- Kolom pertama: Informasi perusahaan -->
      <div class="col-md-4">
        <h5 class="text-uppercase">Tentang Kami</h5>
        <p>
          Perusahaan kami berfokus pada menyediakan layanan berkualitas tinggi dan produk terbaik untuk pelanggan kami.
        </p>
      </div>

      <!-- Kolom kedua: Tautan cepat -->
      <div class="col-md-4">
        <h5 class="text-uppercase">Tautan</h5>
        <ul class="list-unstyled">
          <!-- Tambahkan class 'text-decoration-none' untuk menghapus garis bawah -->
          <li><a href="#" class="text-white text-decoration-none">Beranda</a></li>
          <li><a href="#" class="text-white text-decoration-none">Tentang</a></li>
          <li><a href="#" class="text-white text-decoration-none">Layanan</a></li>
          <li><a href="#" class="text-white text-decoration-none">Kontak</a></li>
        </ul>
      </div>

      <!-- Kolom ketiga: Hubungi kami -->
      <div class="col-md-4">
        <h5 class="text-uppercase">Hubungi Kami</h5>
        <p>
          Alamat: Jalan Contoh No.1, Kota Contoh, Negara Contoh<br>
          Telepon: (123) 456-7890<br>
          Email: info@perusahaan.com
        </p>
      </div>
    </div>

    <!-- Baris bawah: Hak cipta -->
    <div class="row">
      <div class="col text-center pt-3">
        <p>&copy; 2024 Perusahaan. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
