<div class="container">
  <h2 class="text-center mb-4 mt-5">Laporan Hotel</h2>

  <!-- Kartu Informasi Total Pendapatan -->
  <div class="card bg-primary text-white mx-auto mb-4" style="max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Total Pendapatan</h5>
      <p class="card-text">{{ formatPrice(totalPendapatan) }}</p>
    </div>
  </div>

  <!-- Kartu Informasi Total Pajak -->
  <div class="card bg-success text-white mx-auto mb-4" style="max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Total Pajak</h5>
      <p class="card-text">{{ formatPrice(totalPajak) }}</p>
    </div>
  </div>

  <!-- Kartu Informasi Room Terbanyak Dipesan -->
  <div class="card bg-info text-white mx-auto mb-4" style="max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Room Terbanyak Dipesan</h5>
      <p class="card-text">{{ roomTerbanyak }}</p>
    </div>
  </div>
</div>
