// .parent {
//   width: 100%;
//   min-height: 91vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .child {
//   padding: 50px;
//   width: 80%;
//   /* Ganti dengan lebar yang lebih fleksibel */
//   max-width: 400px;
//   background-color: white;
//   box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
//   border-radius: 5px;
// }

// .imgDiv {
//   text-align: center;
//   margin-bottom: 20px;
// }

// .file-upload-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-bottom: 20px;

//   .file-upload-label {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     cursor: pointer;

//     input[type="file"] {
//       display: none;
//     }
//   }
// }

// .image-preview {
//   margin-top: 10px;
//   margin-left: 100px;
// }

// .preview-image {
//   max-width: 100%;
//   max-height: 100%;
// }

// .circle-image {
//   width: 150px;
//   height: 150px;
//   border-radius: 50%;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
//   overflow: hidden;
//   border: 2px salmon;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }


.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.child {
  padding: 50px;
  width: 80%;
  max-width: 400px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.imgDiv h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.file-upload-container {
  margin-bottom: 20px;
  text-align: center;
}

.file-upload-label {
  cursor: pointer;
}

.image-preview {
  margin-top: 10px;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
}

.circle-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  margin-bottom: 260px;
}

.input {
  margin-top: 20px;
}
