<!--  -->
<form nz-form [formGroup]="validateForm" (ngSubmit)="searchArticleByTitle()" class="my-4 text-center mb-5">
  <div class="form-group d-inline-flex">
    <input nz-input placeholder="Pencarian" formControlName="service" nzSize="large" class="form-control mr-4" style="width: 70%;" />
    <button nz-button nzSize="large" nzType="primary" class="btn btn-success ml-5" style="margin-left: 10px;">Cari</button>
  </div>
</form>
<div class="container mb-4">
  <div class="d-flex justify-content-start">
    <button class="btn btn-success" [routerLink]="['/blog/article']" routerLinkActive="active">Tambah Produk</button>
  </div>
</div>


<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th class="heading" style="background-color: rgb(25, 135, 84); color: white; font-size: 18px; vertical-align: bottom; text-align: center;" scope="col">Gambar</th>
          <th class="heading" style="background-color: rgb(25, 135, 84); color: white; font-size: 18px; vertical-align: bottom; text-align: center;" scope="col">Nama Produk</th>
          <th class="heading" style="background-color: rgb(25, 135, 84); color: white; font-size: 18px; vertical-align: bottom; text-align: center;" scope="col">Deskripsi</th>
          <th class="heading" style="background-color: rgb(25, 135, 84); color: white; font-size: 18px; vertical-align: bottom; text-align: center;" scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  article of pagedArticles">
          <td class="heading" style="font-size: 18px; vertical-align: middle; text-align: center;"><img [src]="updateImg(article.returnedImg)" alt="Image of {{ article.title }}" style="height: 200px; width: 200px; border: 1px solid #ddd;"></td>
          <td class="heading" style="font-size: 18px; vertical-align: middle; text-align: center;">{{ article.title  }}</td>
          <td class="heading" style="font-size: 18px; vertical-align: middle; text-align: center;">{{ limitDescription(article.description, 160) }}</td>
          <td class="heading" style="font-size: 18px; vertical-align: middle; text-align: center;">
            <button class="btn btn-success  mr-2" (click)="updateArticle(article.id)">Update</button>
            <br>
            <button class="btn btn-danger mt-3" (click)="deleteArticle(article.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<nav aria-label="Room pagination" class="mt-3 mb-5">
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngIf="currentArticlesPage > 1">
      <button class="page-link" (click)="goToArticlesPage(currentArticlesPage - 1)">Previous</button>
    </li>
    <li class="page-item" *ngFor="let page of [].constructor(totalArticlesPages); let i = index">
      <button class="page-link" [ngClass]="{'active bg-success': currentArticlesPage === i + 1}" (click)="goToArticlesPage(i + 1)">

        {{ i + 1 }}
      </button>
    </li>
    <li class="page-item" *ngIf="currentArticlesPage < totalArticlesPages">
      <button class="page-link" (click)="goToArticlesPage(currentArticlesPage + 1)">Next</button>
    </li>
  </ul>
</nav>
