<button style="margin-left: 330px;" class="btn btn-success tambah" [routerLink]=" ['/company/ad']" routerLinkActive="active">Tambah Produk</button>
<div class="container">
  <div class="row" style="margin: 20px 20px;">
    <!-- Loop through ads to display each ad in a card -->
    <div class="col-md-4" *ngFor="let ad of ads">
      <div class="card">
        <!-- Card image -->
        <img class="card-img-top" [src]="updateImg(ad.returnedImg)" alt="Image of {{ ad.serviceName }}" style="height: 300px; width: 100%;">

        <!-- Card body -->
        <div class="card-body">
          <!-- Card title -->
          <h5 class="card-title" style="cursor: pointer; color: #000;">{{ ad.serviceName }}</h5>
          <!-- Card subtitle (price) -->
          <h6 class="card-subtitle mb-2 text-muted">Harga: {{ formatPrice(ad.price) }}</h6>
          <!-- Card description -->
          <p class="card-text">Deskripsi: {{ ad.description }}</p>
          <!-- Card buttons -->
          <div class="btn-group" role="group">
            <button class="btn btn-primary btn-sm" style="margin-right: 10px;" (click)="updateAd(ad.id)">Update</button>
            <button class="btn btn-danger btn-sm" (click)="deleteAd(ad.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
