<div class="container mt-2" *ngIf="ad">
  <button nz-button nzType="default" routerLink="/client/postingan" class="btn btn-green mt-2">Kembali</button>

  <div class="row mt-3">

    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <!-- Detail Konten -->
          <div class="row align-items-center mb-3">
            <!-- Gambar Profil -->
            <img class="profile" [src]="avatarUrl" alt="Ad Image" style="width: 100%; height: 500px ; " />
            <div class="text-container">
              <h3 class="fw-bold text-dark mb-2">{{ ad.serviceName }}</h3>
              <p class="text-muted mb-1"><strong><span class="text-success">{{ formatPrice(ad.price) }}</span>
                </strong> </p>
              <p class="text-muted mb-1"><strong><i class="fa fa-bath text-success me-2"></i>:</strong> {{ ad.bath }} Kamar Mandi</p>
              <p class="text-muted mb-1"><strong><i class="fa fa-bed text-success me-2"></i>:</strong> {{ ad.bed }} Kamar Tidur</p>
              <p class="text-muted mb-1"><strong>Deskripsi:</strong> {{ ad.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Formulir Pemesanan -->
    <div class="col-lg-3">
      <div class="card ">
        <div class="card-body">
          <h4 class="fw-bold text-dark mb-3">Form Pemesanan</h4>

          <!-- Formulir -->
          <form nz-form [formGroup]="validateForm" (ngSubmit)="bookService()">
            <!-- Input Tanggal Check-In -->
            <div class="mb-3">
              <nz-form-label nzFor="checkInDate" nzRequired>Tanggal Check-In</nz-form-label>
              <nz-form-control>
                <nz-date-picker formControlName="checkInDate" id="checkInDate"></nz-date-picker>
              </nz-form-control>
            </div>

            <!-- Input Tanggal Check-Out -->
            <div class="mb-3">
              <nz-form-label nzFor="checkOutDate" nzRequired>Tanggal Check-Out</nz-form-label>
              <nz-form-control>
                <nz-date-picker formControlName="checkOutDate" id="checkOutDate"></nz-date-picker>
              </nz-form-control>
            </div>

            <!-- Tombol Pesan Sekarang -->
            <button nz-button nzType="primary" [disabled]="validateForm.invalid || isSubmitting" class="btn-green">Pesan Sekarang</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
