.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  text-align: center;
}

.header h1 {
  margin-bottom: 10px;
}

.button {
  text-align: center;
  margin-top: 20px;
  /* Sesuaikan jarak dari header */
}

.button button {
  margin: 0 10px;
}
